# Configuration for generic target with e1000e NIC
CONFIG_LINUX_CONFIG=config/hvault-rpi4-aarch64.config
export CONFIG_LINUX_VERSION=1.20220331

CONFIG_CRYPTSETUP2=y
CONFIG_GPG=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_DROPBEAR=y
export CONFIG_AUTO_UNLOCK=y

export CONFIG_TPM2_TOOLS=y
export CONFIG_PRIMARY_KEY_TYPE=ecc
CONFIG_TPM2_TSS=y
CONFIG_OPENSSL=y

#CONFIG_CAIRO=y
#CONFIG_FBWHIPTAIL=y

# Serial console only, no graphics

CONFIG_LINUX_USB=y

# rpi4 has no SCSI, (S)ATA, nor NVME
CONFIG_LINUX_SCSI_GDTH=n
CONFIG_LINUX_ATA=n
CONFIG_LINUX_AHCI=n
CONFIG_LINUX_NVME=n

# rpi4 has no RTC
export CONFIG_NO_RTC=y

# MMC drivers are all statically linked to kernel
CONFIG_LINUX_MMC=n
CONFIG_LINUX_MMC_MINOR=n
CONFIG_LINUX_MMC_AARCH64=n

export CONFIG_BOOTSCRIPT=/bin/autoboot-init
export CONFIG_BOOT_REQ_HASH=n
export CONFIG_BOOT_REQ_ROLLBACK=n
export CONFIG_BOOT_KERNEL_ADD="intel_iommu=on"
export CONFIG_BOOT_KERNEL_REMOVE="quiet"
export CONFIG_LDR_DEV="LABEL=LDR"
export CONFIG_BOOT_DEV="LABEL=writable"
export CONFIG_USB_BOOT_DEV="/dev/sdc1"
#export CONFIG_WARNING_BG_COLOR="--background-gradient 0 0 0 150 125 0"
#export CONFIG_ERROR_BG_COLOR="--background-gradient 0 0 0 150 0 0"
