# Configuration for generic boards with conpanion usb controller and without tpm
export CONFIG_COREBOOT=y
CONFIG_COREBOOT_CONFIG=config/coreboot-qemu-hvault-legacy.config
CONFIG_LINUX_CONFIG=config/hvault-common.config
export CONFIG_COREBOOT_VERSION=git
export CONFIG_LINUX_VERSION=6.1.8

CONFIG_CRYPTSETUP2=y
CONFIG_FLASHROM=y
CONFIG_FLASHTOOLS=y
CONFIG_GPG2=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
CONFIG_LVM2=y
CONFIG_PCIUTILS=y
CONFIG_POPT=y
CONFIG_DROPBEAR=y
CONFIG_MSRTOOLS=y
export CONFIG_IO386=y

#CONFIG_CAIRO=y
#CONFIG_FBWHIPTAIL=y

# Serial console only, no graphics

CONFIG_LINUX_USB=y
CONFIG_LINUX_USB_COMPANION_CONTROLLER=y
CONFIG_LINUX_E1000E=y
CONFIG_LINUX_IGB=n

CONFIG_LINUX_SCSI_GDTH=n
CONFIG_LINUX_ATA=y
CONFIG_LINUX_AHCI=y
CONFIG_LINUX_NVME=y
CONFIG_LINUX_MEI=n

CONFIG_LINUX_MMC=y
CONFIG_LINUX_MMC_MINOR=y

export CONFIG_SIGN_BOOT_CONFIG=y
export CONFIG_TPM=n
export CONFIG_BOOTSCRIPT=/bin/autoboot-init
export CONFIG_BOOT_REQ_HASH=n
export CONFIG_BOOT_REQ_ROLLBACK=n
export CONFIG_BOOT_KERNEL_ADD="intel_iommu=on"
export CONFIG_BOOT_KERNEL_REMOVE="quiet"
export CONFIG_BOOT_DEV="LABEL=boot"
export CONFIG_USB_BOOT_DEV="/dev/sdc1"
#export CONFIG_BOOT_GUI_MENU_NAME="Supermicro x11ssh-tf Heads Boot Menu"
#export CONFIG_WARNING_BG_COLOR="--background-gradient 0 0 0 150 125 0"
#export CONFIG_ERROR_BG_COLOR="--background-gradient 0 0 0 150 0 0"
